{% extends 'base.html.twig' %}


{% block section %}
<div class="container">
<br><br>
<br><br><br><br>
    <h1>Create new Parfums</h1>

    {{ include('parfums12/_form.html.twig') }}

    <a href="{{ path('app_parfums12_index') }}">back to list</a></div
{% endblock %}
